{% extends "blog/index.html" %}

{% block contenido %}

<div class="card">
    <h2>Buscar Cliente</h2>

    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>
</div>

<div class="card">
    <h3>Resultados:</h3>

    {% if resultados %}
        <ul>
            {% for cliente in resultados %}
                <li>{{ cliente }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay resultados</p>
    {% endif %}
</div>

{% endblock %}