{% extends "blog/index.html" %}

{% block contenido %}

<h2>Buscar Cliente</h2>

<form method="get">
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

<hr>

{% if resultados %}
    <h3>Resultados:</h3>

    <ul>
    {% for cliente in resultados %}
        <li>
            <strong>{{ cliente.nombre }}</strong><br>
            Edad: {{ cliente.edad }}<br>
            Email: {{ cliente.mail }}
        </li>
    {% endfor %}
    </ul>

{% else %}
    <p>No hay resultados.</p>
{% endif %}

{% endblock %}