{% extends "blog/index.html" %}

{% block contenido %}

<h2>Clientes Registrados</h2>

{% if clientes_list %}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        {% for cliente in clientes_list %}
        <tr>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.edad }}</td>
            <td>{{ cliente.mail }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <p>No hay clientes registrados.</p>
{% endif %}

{% endblock %}