{% extends "blog/index.html" %}

{% block contenido %}

<div class="card">
    <h2>Buscar Cliente</h2>
    <a href="{% url 'buscar_cliente' %}">Ir a búsqueda</a>
</div>

<div class="card">
    <h2>Registrar Cliente</h2>
    <a href="{% url 'crear_cliente' %}">Registrar nuevo cliente</a>
</div>

<div class="card">
    <h2>Clientes Registrados</h2>
    <a href="{% url 'clientes_list' %}">Ver lista de clientes</a>
</div>

<div class="card">
    <h2>Registrar Pedido</h2>
    <a href="{% url 'crear_pedido' %}">Crear nuevo pedido</a>
</div>

{% endblock %}