{% extends "blog/index.html" %}

{% block contenido %}

<div class="card">
    <h2>Pedidos Realizados</h2>

    <form method="GET">
        <input type="text" name="cliente" placeholder="Buscar por nombre de cliente..." value="{{ request.GET.cliente }}">
        <button type="submit">Buscar</button>
    </form>

    <ul>
        {% for producto in pedidos_list %}
            <li>{{ producto }}</li>
        {% empty %}
            <li>No se encontraron pedidos a nombre de ese cliente.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}